.item__filter form {
    width: 100%;
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 85px;

}

.topbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
}