.main_bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding-top: 60px;
}
.bottom_content{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(247, 250, 66);
    width: 400px;
    max-height: 380px;
    border-radius: 24px;
}

.bottom_content img{
    position: relative;
    /* bottom: 25%; */
    left: 5%;
    z-index: 10;
    max-width: 90%;
    max-height: 180px;
}
.bottom_text{
    z-index: 10;
    padding: 0 25px 25px;
}
.bottom_text p{
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2px;
    padding-bottom: 10px;
}

.bottom_text button{
    background-color: red;
    padding: 10px 35px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 24px;
    transition: all linear 0.2s;
    margin-bottom: 15px;
}
.bottom_text button:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5;
    transform: scale(1.1);
}
.btn{
    margin: 35px 0px;
    background-color: black;
    padding: 10px 35px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 24px;
    transition: all linear 0.2s;
}
.btn:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5;
    transform: scale(1.1);
    background-color: #8e8e8e;
    color: #000;
}