.footer {
    position: sticky;
    top: 100vh;
    margin-top: 60px;
}

.footer__items {
    display: flex;
    flex-direction: column;
}

.footer__item-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item-contacts>div {
    max-width: 350px;
}

.footer__stuff h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.food__stuff-inner{
display: flex;
justify-content: space-between;
}
.footer__stuff div {
    line-height: 1.2rem;
    padding-top: 5px;
    padding-right: 5px;
}
.footer__branding-stuff a:hover{
    cursor: pointer;

}
.footer__logo {
    margin: 0 40px;
}
.footer__item-social {
    display: flex;
    flex-wrap: wrap;
}

.footer__item-social a {
    padding: 0;
}
.footer__item-social img{
    transition: all linear 0.2s;
}

.footer__item-social img:hover {
    transform: scale(1.1)
}

.footer__item-copy {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #000;
    text-align: center;
}